<!DOCTYPE html>
<html lang="en">
<head>
  <title>login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<h2 style="text-align: center">Thông tin thời tiết</h2>

<div class="container">
  <h2 style="text-align:center" class="pb-3">Đăng nhập</h2>
  <div class="text-center">
    <a href="/auth/facebook" class="btn btn-primary" role="button">
      <i class="fa fa-facebook fa-fw"></i> Login with Facebook
    </a>
    <a href="/auth/google" class="btn btn-danger"><i class="fa fa-google fa-fw" role="button">
      </i> Login with Google+
    </a>
  </div>
</div>

</body>
</html>
